<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MaxiKiosko La Cubana</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <style>

    </style>

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Cargando...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="text-primary m-0"><i class="fa fa-shopping-basket me-3"></i>MaxiKiosko La Cubana</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0 pe-4">
                        <a href="index.html" class="nav-item nav-link active">Home</a>
                        <a href="#service" class="nav-item nav-link">Servicios</a>
                        <a href="#about" class="nav-item nav-link">Acerca de</a>
                        <a href="#menu" class="nav-item nav-link">Menu</a>
                        <a href="#history" class="nav-item nav-link">Historia</a>
                    </div>
                    <a href="#contact" class="btn btn-primary py-2 px-4">Contáctenos</a>
                </div>
            </nav>

            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container my-5 py-5">
                    <div class="row align-items-center g-5">
                        <div class="col-lg-6 text-center text-lg-start">
                            <h1 class="display-3 text-white animated slideInLeft">Encuentre<br>el producto que necesita
                            </h1>
                            <p class="text-white animated slideInLeft mb-4 pb-2">Una oferta muy variada de todo tipo de
                                productos. Contamos con exquisitas golosinas, bebidas, cigarrillos y Habanos de alta
                                calidad, adornos artesanales hechos en Cuba y mucho más.</p>
                        </div>
                        <div class="col-lg-6 text-center text-lg-end overflow-hidden animated slideInLeft">
                            <img class="img-fluid" src="img/logo.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


        <!-- Service Start -->
        <div class="container-xxl py-5" id="service">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">"Nuestros servicios"</h5>
                    <h1 class="mb-5">"Nuestro sello es un excelente trato"</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                                <h5>Excelente Personal</h5>
                                <p>"El excelente personal se destaca por su profesionalismo, habilidades excepcionales y
                                    compromiso para brindar un servicio excepcional a los clientes."</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                                <h5>Productos de Calidad</h5>
                                <p>"Los productos de un kiosco son una selección diversa de artículos, que van desde
                                    golosinas y bebidas refrescantes hasta productos básicos y conveniencia. Están
                                    diseñados para satisfacer las necesidades rápidas y cotidianas de los clientes,
                                    ofreciendo una combinación de opciones prácticas, atractivas y sabrosas en un
                                    espacio compacto."</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-gift text-primary mb-4"></i>
                                <h5>Artículos variados</h5>
                                <p>"Los productos de adornos y regalos son cuidadosamente diseñados y elegidos para
                                    brindar belleza y alegría a cualquier ocasión especial. Con una variedad de opciones
                                    creativas y únicas, estos productos añaden un toque especial a la decoración del
                                    hogar, celebraciones o como obsequios significativos que transmiten amor y aprecio a
                                    quienes los reciben."</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                                <h5>Servicios</h5>
                                <p>"Los servicios de nuestro local ofrecen comodidad y eficiencia a los clientes,
                                    proporcionando una amplia gama de servicios rápidos y accesibles como recargas de
                                    teléfonos móviles y pagos con Mercado Pago."</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->


        <!-- About Start -->
        <div class="container-xxl py-5" id="about">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s"
                                    src="img/about-1.jpg">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s"
                                    src="img/about-2.jpg" style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s"
                                    src="img/about-3.jpg">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s"
                                    src="img/about-4.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="section-title ff-secondary text-start text-primary fw-normal">Acerca de</h5>
                        <h1 class="mb-4">Bienvenidos a <i class="fa fa-shopping-basket text-primary me-2"></i>MaxiKiosko
                            La Cubana</h1>
                        <p class="mb-4">"Maxikiosco La Cubana es un establecimiento emblemático que se destaca por
                            ofrecer una amplia variedad de productos y servicios, desde golosinas y bebidas hasta
                            artículos de conveniencia y regalos, brindando a sus clientes una experiencia de compra
                            completa y satisfactoria.</p>
                        <p class="mb-4">Con su atención amigable y ambiente acogedor, Maxikiosco La Cubana se ha
                            convertido en un lugar de encuentro popular para la comunidad, donde se puede disfrutar de
                            productos de alta calidad y encontrar todo lo necesario en un solo lugar, haciendo que cada
                            visita sea una experiencia agradable y conveniente."</p>
                        <div class="row g-4 mb-4">
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">9
                                    </h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Años de</p>
                                        <h6 class="text-uppercase mb-0">Experiencia</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">4.8
                                    </h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Puntuación</p>
                                        <h6 class="text-uppercase mb-0"> de Google</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-primary py-3 px-5 mt-2" href="https://www.facebook.com/kioscolacubana/">Saber
                            más</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Menu Start -->
        <div class="container-xxl py-5" id="menu">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Nuestros Productos</h5>
                    <h1 class="mb-5">Nuestros productos más populares</h1>
                </div>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill"
                                href="#tab-1">
                                <i class="fa fa-cookie-bite fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Listado de productos</small>
                                    <h6 class="mt-n1 mb-0">Agrega o elimina los productos</h6>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill"
                                href="#tab-2">
                                <i class="fa fa-check fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Modificaciones</small>
                                    <h6 class="mt-n1 mb-0">Modifica tus productos</h6>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3" @click="obtenerCarrito()">
                                <i class="fa fa-shopping-basket fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Compras</small>
                                    <h6 class="mt-n1 mb-0">Añade productos a tu carrito</h6>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-right">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <div class="container">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th>       Código</th>
                                                            <th>       Descripción</th>
                                                            <th>       Cantidad</th>
                                                            <th>          Precio</th>
                                                            <th>          Imagen</th>
                                                            <th>          Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="producto in productos">
                                                            <td align="center">{{ producto.codigo }}</td>
                                                            <td align="right">{{ producto.descripcion }}</td>
                                                            <td>              {{ producto.cantidad }}</td>
                                                            <td>              {{ producto.precio }}</td>
                                                            <td>              {{ producto.imagen }}</td>
                                                            <td>                
                                                                <button class="delete-button"
                                                                    @click="eliminarProducto(producto.codigo)">
                                                                    <i class="fas fa-trash-alt"></i>
                                                                    <!-- Icono de papelera -->
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <br>
                                            <h5 style="text-align: right;">Añadir un nuevo producto:</h5>
                                            <div class="form-container">
                                                <form id="formulario">
                                                    <label for="codigo">Código:</label>
                                                    <input type="text" id="codigo" name="codigo" pattern="[0-9]{1,12}"
                                                        maxlength="12" required><br>

                                                    <label for="descripcion">Descripción:</label>
                                                    <input type="text" id="descripcion" name="descripcion" required><br>

                                                    <label for="cantidad">Cantidad:</label>
                                                    <input type="number" id="cantidad" name="cantidad" required><br>

                                                    <label for="precio">Precio:</label>
                                                    <input type="number" step="0.01" id="precio" name="precio"
                                                        required><br>

                                                    <button type="submit">Agregar Producto</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane fade show p-0">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <form id="formulario2">
                                                <div class="form-group">
                                                    <label for="codigo2">Buscar Código:</label>
                                                    <input type="text" style="width: 120px;" id="codigo2" name="codigo2"
                                                        required>
                                                    <button type="submit" class="fa fa-search"></button>
                                                </div>
                                            </form>

                                            <div id="datosProducto">
                                                <h5 style="text-align: right;">Datos del Producto</h5>
                                                <form id="formularioModificar">
                                                    <label for="descripcionModificar">Descripción:</label>
                                                    <input type="text" id="descripcionModificar"
                                                        name="descripcionModificar" required><br>
                                                    <label for="cantidadModificar">Cantidad:</label>
                                                    <input type="number" id="cantidadModificar" name="cantidadModificar"
                                                        required><br>
                                                    <label for="precioModificar">Precio:</label>
                                                    <input type="number" step="0.01" id="precioModificar"
                                                        name="precioModificar" required><br>
                                                    <button type="submit">Guardar Cambios</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane fade show p-0">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-right">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <div class="carrito">
                                                <table style="border-spacing: 20px;">
                                                    <thead>
                                                        <tr>
                                                            <th>Código</th>
                                                            <th>Descripción          </th>
                                                            <th>             Cantidad</th>
                                                            <th>             Precio     </th>
                                                            <th>            Carrito</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="producto in productos" :key="producto.codigo">
                                                            <td>{{ producto.codigo }}</td>
                                                            <td>{{ producto.descripcion }}</td>
                                                            <td align="right">             {{ producto.cantidad }}      
                                                            </td>
                                                            <td align="right">             {{ producto.precio
                                                                }}           </td>
                                                            <td>
                                                                <button
                                                                    @click="agregarAlCarrito(producto);obtenerCarrito()">&nbsp;&nbsp;<b>+</b>&nbsp;&nbsp;</button>
                                                                <button
                                                                    @click="restarDelCarrito(producto);obtenerCarrito()">&nbsp;&nbsp;<b>-</b>&nbsp;&nbsp;</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- <div v-if="mostrarCarrito"> -->
                                                <h5 style="text-align: right;">Productos en el carrito:</h5>
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th>Código</th>
                                                            <th>Descripción          </th>
                                                            <th>             Cantidad</th>
                                                            <th>             Precio     </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="item in carrito" :key="item.codigo">
                                                            <td>{{ item.codigo }}</td>
                                                            <td>{{ item.descripcion }}</td>
                                                            <td align="right">{{ item.cantidad }}</td>
                                                            <td align="right">&nbsp; &nbsp; {{ item.precio }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Menu End -->

    <!-- History Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s" id="history">
        <div class="container">
            <div class="text-center">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Historia</h5>
                <h1 class="mb-5">Erase una vez…</h1>
            </div>
            <div class="history">
                <div class="history-item bg-transparent border rounded p-4">
                    <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                    <p>...una valiente mujer llamada Consuelo, originaria de la hermosa isla de Cuba. Con el corazón
                        lleno de esperanza y el sueño de brindar un futuro mejor para su familia, Consuelo tomó la
                        decisión de viajar a Argentina, un país lleno de oportunidades.
                        Al llegar a Argentina, Consuelo se encontró con un mundo muy distinto, una cultura diferente y
                        el desafío de adaptarse a un entorno desconocido. Con determinación y perseverancia, logró
                        rentar un pequeño local y decidió montar su propio negocio: un Maxi Kiosko.
                        <br>
                        <br>
                        Los primeros días fueron difíciles para Consuelo. La competencia era feroz y la comunidad local
                        aún no conocía su negocio. Sin embargo, con paciencia y dedicación, Consuelo trabajó
                        incansablemente para ofrecer productos de calidad y un servicio amigable a sus clientes.
                        <br>
                        <br>
                        Con el tiempo, el Maxi Kiosko de Consuelo se convirtió en un lugar querido y casi necesario en
                        el vecindario. La gente acudía a su negocio no solo por los productos que vendía, sino también
                        por la calidez y la sonrisa sincera que Consuelo les ofrecía a cada uno de ellos.
                        <br>
                        <br>
                        Consuelo se ganó el amor y el respeto de todos sus vecinos. Siempre dispuesta a ayudar, a
                        escuchar y a hacer sentir bien a quienes la rodeaban. Su espíritu emprendedor y su historia de
                        superación se convirtieron en inspiración para muchos.
                        <br>
                        <br>
                        Con el tiempo, Consuelo pudo ampliar su negocio y ofrecer una mayor variedad de productos y
                        servicios. Su Maxi Kiosko se convirtió en un punto de encuentro para la comunidad, donde las
                        historias se compartían y las risas resonaban en cada rincón.
                        <br>
                        <br>
                        La historia de Consuelo, la mujer cubana que viajó a Argentina en busca de un futuro mejor para
                        su familia, se convirtió en un símbolo de valentía, perseverancia y amor por la comunidad. Su
                        legado perduró en la memoria de todos aquellos que tuvieron la suerte de cruzarse en su camino.
                        <br>
                        <br>
                        Y así, la historia de Consuelo nos recuerda que con pasión, esfuerzo y amor por lo que hacemos,
                        podemos convertir nuestros sueños en realidad y dejar una huella positiva en la vida de los
                        demás
                    </p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-1.jpg"
                            style="width: 50px; height: 50px;">
                        <div class="ps-3">
                            <h5 class="mb-1">Consuelo</h5>
                            <small>La Cubana</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Contact Start -->
    <div class="container-xxl py-5" id="contact">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Contactanos</h5>
                <h1 class="mb-5">Contactanos para cualquier consulta</h1>
            </div>
            <div class="row g-4">
                <div class="col-12">
                    <div class="row gy-4">
                        <div class="col-md-4">
                            <h5 class="section-title ff-secondary fw-normal text-start text-primary">Telefono</h5>
                            <p><i class="fa fa-envelope-open text-primary me-2"></i>+54 11 30221429</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="section-title ff-secondary fw-normal text-start text-primary">Correo</h5>
                            <p><i class="fa fa-envelope-open text-primary me-2"></i>kioskolacubana@gmail.com</p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="section-title ff-secondary fw-normal text-start text-primary">Facebook</h5>
                            <p><i
                                    class="fa fa-envelope-open text-primary me-2"></i>https://www.facebook.com/kioscolacubana/
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                    <iframe class="position-relative rounded w-100 h-100"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d0.0033722382228903566!2d-58.5091738!3d-34.5964707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb630ca2d4961%3A0x1ed31b2169eacf23!2sKiosco%20%22La%20Cubana%22!5e0!3m2!1sen!2sus!4v1603794290143!5m2!1sen!2sus"
                        frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
                </div>

                <div class="col-md-6">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="Nombre">
                                        <label for="name">Nombre</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" placeholder="Correo">
                                        <label for="email">Correo</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="subject" placeholder="Asunto">
                                        <label for="subject">Asunto</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a message here" id="message"
                                            style="height: 150px"></textarea>
                                        <label for="message">Mensaje</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <!-- Video Start -->
    <div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">De mi Cuba</h5>
            <h1 class="mb-5">"El mejor Ron del mundo"</h1>
        </div>
        <div class="row justify-content-center g-0">
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="800" height="600" src="https://www.youtube.com/embed/jofsrN-Yjm0"
                        title="HAVANA CLUB ESPECIAL - RECEITA CUBA LIBRE" frameborder="0"></iframe>
                    <span></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Video End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Negocio:</h4>
                    <a class="btn btn-link" href="#about">Acerca de nosotros</a>
                    <a class="btn btn-link" href="#contact">Contáctenos</a>
                    <a class="btn btn-link" href="#service">Servicios</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contacto:</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Navarro 3187, CABA</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+54 11 30221429</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>kioskolacubana@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Abiertos:</h4>
                    <h5 class="text-light fw-normal">Lunes - Jueves</h5>
                    <p>09AM - 09PM</p>
                    <h5 class="text-light fw-normal">Viernes - Sabado</h5>
                    <p>09AM - 12PM</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Informativo:</h4>
                    <p>¿Desea contactarnos por WhatsApp para hacernos una consulta?</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <a href="https://api.whatsapp.com/send?phone=1130221429">
                            <button type="button"
                                class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Clic aquí</button>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">TPO Codo a Codo 4.0</a>, Grupo 3.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="">Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

    <!-- TPO Codo a Codo 4.0 -->
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const URL = "https://Oriana.pythonanywhere.com/";

        const app = Vue.createApp({
            data() {
                return {
                    productos: [],
                    carrito: [],
                };
            },
            methods: {
                obtenerProductos() {
                    // Obtenemos el contenido del inventario
                    fetch(URL + 'productos')
                        .then(response => {
                            if (response.ok) {
                                return response.json(); // Parseamos la respuesta JSON
                            } else {
                                // Si hubo un error, lanzar explícitamente una excepción
                                // para ser "catcheada" más adelante
                                throw new Error('Error al obtener los productos.');
                            }
                        })
                        .then(data => {
                            // El código Vue itera este elemento para generar la tabla
                            this.productos = data;
                        })
                        .catch(error => {
                            console.log('Error:', error);
                            alert('Error al obtener los productos.');
                        });
                },
                eliminarProducto(codigo) {
                    // Eliminamos el producto de la fila seleccionada
                    fetch(URL + `productos/${codigo}`, { method: 'DELETE' })
                        .then(response => {
                            if (response.ok) {
                                // Eliminar el producto de la lista después de eliminarlo en el servidor
                                this.productos = this.productos.filter(producto => producto.codigo !== codigo);
                                console.log('Producto eliminado correctamente.');
                            } else {
                                // Si hubo un error, lanzar explícitamente una excepción
                                // para ser "catcheada" más adelante
                                throw new Error('Error al eliminar el producto.');
                            }
                        })
                        .catch(error => {
                            // Código para manejar errores
                            alert('Error al eliminar el producto.');
                        });
                },
                agregarAlCarrito(producto) {
                    fetch(URL + 'carrito', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            codigo: producto.codigo,
                            cantidad: 1, // Agregamos una unidad al carrito
                        }),
                    })
                        .then(response => response.json())
                        .then(data => {
                            alert(data.message)
                        })
                        .catch(error => {
                            console.error('Error al agregar el producto al carrito:', error)
                            alert('Error al agregar el producto al carrito.')
                        })
                },
                restarDelCarrito(producto) {
                    fetch(URL + 'carrito', {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            codigo: producto.codigo,
                            cantidad: 1, // Restamos una unidad del carrito
                        }),
                    })
                        .then(response => response.json())
                        .then(data => {
                            alert(data.message)
                        })
                        .catch(error => {
                            console.error('Error al restar el producto del carrito:', error)
                            alert('Error al restar el producto del carrito.')
                        })
                },
                obtenerCarrito() {
                    fetch(URL + 'carrito')
                        .then(response => response.json())
                        .then(data => {
                            this.carrito = data
                            this.mostrarCarrito = true
                        })
                        .catch(error => {
                            console.error('Error al obtener el carrito:', error)
                            alert('Error al obtener el carrito.')
                        })
                },

            },
            mounted() {
                //Al cargar la página, obtenemos la lista de productos
                this.obtenerProductos();
            }
        });

        app.mount('body');
    </script>
    <script>
        // Capturamos el evento de envío del formulario
        const formulario = document.getElementById('formulario');
        formulario.addEventListener('submit', function (event) {
            event.preventDefault(); // Evitamos que se envie el form por ahora

            // Obtenemos los valores del formulario
            // Obtener los valores del formulario
            var codigo = document.getElementById('codigo').value;
            var descripcion = document.getElementById('descripcion').value;
            var cantidad = document.getElementById('cantidad').value;
            var precio = document.getElementById('precio').value;

            // Crear un objeto con los datos del producto
            var producto = {
                codigo,
                descripcion,
                cantidad,
                precio
            };
            console.log(producto)
            // Realizamos la solicitud POST al servidor
            fetch(URL + 'productos', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(producto)
            })
                .then(response => {
                    // Código para manejar la respuesta
                    if (response.ok) {
                        return response.json(); // Parseamos la respuesta JSON
                    } else {
                        // Si hubo un error, lanzar explícitamente una excepción
                        // para ser "catcheada" más adelante
                        return response.text().then(errorMessage => {
                            throw new Error('Error al agregar el producto: ' + errorMessage);
                        });
                    }
                })
                .then(data => {
                    alert('Producto agregado correctamente.');
                    //Limpiamos el formulario.
                    formulario.reset();
                })
                .catch(error => {
                    // Código para manejar errores
                    alert(error.message);
                });
        })
    </script>
    <script>
        // Capturamos el evento de envío del formulario para mostrar los datos del producto
        document.getElementById('formulario2').addEventListener('submit', function (event) {
            event.preventDefault(); // Evitamos que se recargue la página

            // Obtenemos el código del producto
            var codigo2 = document.getElementById('codigo2').value;

            // Realizamos la solicitud GET al servidor para obtener los datos del producto
            fetch(URL + 'productos/' + codigo2)
                .then(function (response) {
                    if (response.ok) {
                        return response.json(); // Parseamos la respuesta JSON
                    } else {
                        // Si hubo un error, lanzar explícitamente una excepción
                        // para ser "catcheada" más adelante
                        throw new Error('Error al obtener los datos del producto.');
                    }
                })
                .then(function (data) {
                    // Mostramos los datos del producto en el formulario de modificación
                    document.getElementById('descripcionModificar').value = data.descripcion;
                    document.getElementById('cantidadModificar').value = data.cantidad;
                    document.getElementById('precioModificar').value = data.precio;

                    // Mostramos el formulario de modificación y ocultamos el formulario de consulta
                    // document.getElementById('formulario2').style.display = 'none';
                    document.getElementById('datosProducto').style.display = 'block';
                })
                .catch(function (error) {
                    // Código para manejar errores
                    alert('Error al obtener los datos del producto.');
                });
        });

        // Capturamos el evento de envío del formulario de modificación
        document.getElementById('formularioModificar').addEventListener('submit', function (event) {
            event.preventDefault(); // Evitamos que se recargue la página

            // Obtenemos los valores del formulario de modificación
            var codigo = document.getElementById('codigo2').value;
            var descripcion = document.getElementById('descripcionModificar').value;
            var cantidad = document.getElementById('cantidadModificar').value;
            var precio = document.getElementById('precioModificar').value;

            // Creamos un objeto con los datos del producto actualizados
            var producto = {
                codigo: codigo,
                descripcion: descripcion,
                cantidad: cantidad,
                precio: precio
            };

            // Realizamos la solicitud PUT al servidor para guardar los cambios
            fetch(URL + 'productos/' + codigo, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(producto)
            })
                .then(function (response) {
                    if (response.ok) {
                        return response.json(); // Parseamos la respuesta JSON
                    } else {
                        // Si hubo un error, lanzar explícitamente una excepción
                        // para ser "catcheada" más adelante
                        throw new Error('Error al guardar los cambios del producto.');
                    }
                })
                .then(function (data) {
                    alert('Cambios guardados correctamente.');
                    location.reload(); // Recargamos la página para volver al formulario de consulta
                })
                .catch(function (error) {
                    // Código para manejar errores
                    alert('Error al guardar los cambios del producto.');
                })
        });
    </script>



</body>

</html>